<template>
  <header class="header flex flex-col items-center mb-10">
    <svg
      width="174"
      height="169"
      viewBox="0 0 174 169"
      fill="none"
      class="w-24"
    >
      <circle cx="86.5" cy="86.5" r="81.5" fill="url(#paint0_linear)" />
      <path
        d="M122.5 1L87 141L51.5 1H1.5L51.5 168H122.5L172.5 1H122.5Z"
        fill="#100000"
        stroke="black"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="86.5"
          y1="5"
          x2="86.5"
          y2="168"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#D40032" />
          <stop offset="1" stop-color="#D40032" stop-opacity="0" />
        </linearGradient>
      </defs>
    </svg>
    <h1 class="font-bold text-2xl">Welcome to Weather Vue</h1>
    <h2 class="text-sm italic">{{ dateNow }}</h2>
    <!-- <h3>Sunrise : {{ parseDate(sunrise) }}</h3>
    <h3>Sunset :{{ parseDate(sunset) }}</h3> -->
  </header>
</template>
<script lang="ts">
//types for vue
import { defineComponent } from "vue";
import moment from "moment";

// Definition of the component
export default defineComponent({
  name: "header-app",
  props: {
    dateNow: {
      type: String,
      default: moment().format("dddd MMMM Do YYYY"),
    },
  },
});
</script>
