<template>
  <section class="dashboard max-w-5xl m-auto">
    <div
      v-if="
        !userSearching &&
        weatherData &&
        weatherData.days.length > 0 &&
        weatherData.success
      "
      class="content"
    >
      <Location
        @ask-location="askLocation"
        :userLocation="userAcceptLocationApi"
        :userCity="userCity"
      ></Location>
      <div class="days flex flex-col lg:flex-row justify-center shadow-md">
        <day
          :day="day"
          :key="day.applicable_date"
          v-for="day in weatherData.days"
          data-test="day"
        ></day>
      </div>
    </div>
    <div
      v-else-if="
        !userSearching &&
        weatherData &&
        weatherData.error &&
        !weatherData.success
      "
      class="error"
    >
      <p>{{ weatherData.error }}</p>
    </div>
    <div v-else-if="!weatherData && !userAcceptLocationApi" class="loading">
      <p>Searching weather for Lisbon...</p>
    </div>
    <div v-else-if="userSearching" class="loading">
      <p>Searching weather for your location...</p>
    </div>
  </section>
</template>
<script lang="ts">
//types for vue
import { defineComponent } from "vue";
// day component
import Day from "./Day.vue";
import Location from "./Location.vue";
// weather api inside Composition API of vue
import useWeatherApi from "../../composables/api/useWeatherApi";

// Definition of the component
export default defineComponent({
  name: "dashboard",
  components: {
    Day,
    Location,
  },
  data: () => {
    return {
      userAcceptLocationApi: false,
      userSearching: false,
    };
  },
  props: {
    // simple property to show inside the component
    daysNumber: {
      type: Number,
      required: true,
    },
  },
  methods: {
    userRefuseLocation(error: any) {
      console.log(error);
    },
    async userAcceptLocation(position: any) {
      this.weatherData = undefined;
      this.userAcceptLocationApi = true;
      await this.fetchWeatherUserData(
        position.coords.latitude,
        position.coords.longitude
      );

      this.userSearching = false;
    },
    askLocation() {
      this.userSearching = true;

      navigator.geolocation.getCurrentPosition(
        this.userAcceptLocation,
        this.userRefuseLocation
      );
    },
  },
  setup: (props) => {
    // Call the metaweather API using composition API of Vue3 (setup) and assigning the data to weatherData
    //fetchWeatherData is always called when the component is rendered
    const {
      userCity,
      weatherData,
      fetchWeatherData,
      fetchWeatherUserData,
    } = useWeatherApi();

    return {
      userCity,
      weatherData,
      fetchWeatherData,
      fetchWeatherUserData,
    };
  },
});
</script>
