<template>
  <div
    class="day flex flex-col p-4 relative shadow-md mb-5 lg:shadow-none lg:mb-0 lg:flex-1"
    :class="isTodayOrTommorowBackground"
  >
    <h3 class="font-bold mb-4">{{ isTodayOrTommorow }}</h3>
    <img :src="icon(day.state)" alt="" class="w-10 m-auto mb-4" />
    <span class="mb-2">Min : {{ temperature(day.min_temp) }}</span>
    <span class="mb-2">Max : {{ temperature(day.max_temp) }}</span>
    <!-- <span class="mb-2">{{ day.the_temp }}</span>
    <span class="mb-2">{{ day.wind_direction_compass }}</span>-->
    <span class="mb-2 flex justify-between items-center max-w-wind m-auto">
      <img src="/images/svg/wind.svg" alt="" class="w-8" />
      <span class="text-xs">{{ speed(day.wind_speed) }}</span>
      <img
        src="/images/svg/compass.svg"
        :style="{ transform: 'rotate(' + (day.wind_direction - 180) + 'deg)' }"
        alt=""
        class="w-8"
      />
      <span class="text-xs">{{ day.wind_direction_compass }} </span>
    </span>
    <span class="mb-2 text-sm">Humidity : {{ percentage(day.humidity) }}</span>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import moment from "moment";
// Definition of the component
export default defineComponent({
  name: "day",
  props: {
    day: {
      type: Object as () => Day,
      required: true,
    },
    statesIcons: {
      type: Object,
      default: {
        sn: "snow",
        sl: "sleet",
        h: "hail",
        t: "thunder",
        hr: "rain",
        lr: "rain",
        s: "showers",
        hc: "cloud",
        lc: "cloud-sun",
        c: "sun",
      },
    },
  },
  methods: {
    temperature(temp: number): string {
      return temp + "°C";
    },
    speed(windSpeed: number): string {
      return windSpeed + " mph";
    },
    percentage(per: number): string {
      return per + " %";
    },
    icon(state: string): string {
      return "./images/svg/" + this.statesIcons[state] + ".svg";
    },
  },
  computed: {
    isTodayOrTommorow(): string {
      let today = moment();
      let currentElementDay = moment(this.day.applicable_date).format("D");

      switch (currentElementDay) {
        case today.format("D"):
          return "Today";
          break;

        case today.add(1, "d").format("D"):
          return "Tomorrow";
          break;

        default:
          return moment(this.day.applicable_date).format("dddd D");
          break;
      }
    },
    isTodayOrTommorowBackground(): string {
      let today = moment();
      let currentElementDay = moment(this.day.applicable_date).format("D");

      switch (currentElementDay) {
        case today.format("D"):
          return "bg-blue-300";
          break;

        default:
          return "bg-pantone";
          break;
      }
    },
  },
  setup: () => {},
});
</script>

<style scoped>
/* .day {
  display: flex;
  flex-direction: column;
  padding: 20px;
} */
</style>
