<template>
  <div v-if="!userLocation" class="no-location flex flex-col mb-10">
    <h2 class="mb-10 w-3/4 m-auto">
      Discover the weather of Lisbon<br />
      for the 6 upcoming days
    </h2>
    <button
      class="bg-red-100 p-2 hover:shadow-md"
      @click="$emit('askLocation')"
    >
      Discover the weather where you are
    </button>
  </div>
  <h2 class="mb-10 w-3/4 m-auto" v-else>
    Discover the weather <br />in your city
    <span class="font-bold">{{ userCity }}</span> <br />for the 6 upcoming days
  </h2>
</template>
<script lang="ts">
//types for vue
import { defineComponent } from "vue";
import moment from "moment";

// Definition of the component
export default defineComponent({
  name: "location",
  props: {
    userLocation: {
      type: Boolean,
    },
    userCity: {
      type: String,
    },
    sunrise: {
      type: String,
    },
    sunset: {
      type: String,
    },
  },
  methods: {
    parseDate(date: string) {
      return moment(date).format("H:mm");
    },
  },
});
</script>
